/* hoja de estilos para el contador */
body{
    font-family: cursive;
    background-color: slateblue;
}

h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.year{

}

.countdown{

}

.countdown #day{

}

.countdown #hour{
    
}

.countdown #minute{
    
}

.countdown #second{
    
}